---

name: Release
on:
  release:
    types:
      - created
  build-lambda:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1.1.2
        with:
          go-version: 1.13.x
      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: install deps
        run: make deps
      - name: test
        run: make test
      - name: build
        run: make build
      - uses: actions/upload-artifact@v1
        with:
          name: annotator
          path: dist/annotator/annotator
  release:
    needs:
      - build-lambda
    runs-on: ubuntu-latest
    steps:
      - id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      -
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: install
        run: yarn install --frozen-lockfile
      - name: draft release
        id: draft-release
        run: yarn draft-release
      - name: fetch lambda artifact
        uses: actions/download-artifact@v1
        with:
          name: annotator
          path: dist/annotator
      - name: pack
        id: yarn-pack
        run: |
          filename="$(cat package.json | jq -r '.name | gsub("@"; "") | gsub("/"; "-")')-${{ steps.bump-version.outputs.tag }}.tgz"
          yarn pack --filename "$filename"
          echo "::set-output name=asset_path::${filename}"
